<% layout('layouts/boilerplate') %>
<h1>Campgrounds</h1>
<a href="/campgrounds/new">Add Campground</a>
<ul>
  <% campgrounds.forEach(campground => { %>
  <li>
    <h2>
      <a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a>
    </h2>
  </li>
  <% }) %>
</ul>
